.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
db.sqlite
*.sqlite
*.db
*.sqlite-shm
*.db-shm
*.sqlite-wal
*.db-wal
*.sqlite-wal2
*.db-wal2
.swiftpm
.env
*.pem